/* src/index.css */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-pdfviewer/styles/material.css";
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
}

.viewer {
  overflow-y: auto;
  background: #f9f9f9;
}

.sidebar {
  border-left: 1px solid #ccc;
  padding: 15px;
  overflow-y: auto;
  background: #fff;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  resize: none;
}

/* .container {
  display: flex;
  height: 100vh;
} */

/* .viewer {
  flex: 1;
  position: relative;
} */

.pdf-viewer {
  position: relative;
}

.overlay {
  z-index: 2;
  border: 1px solid rgba(255, 255, 0, 0.8);
}

.pdf-page {
  margin-bottom: 10px;
}

.pdf-overlay {
  z-index: 10;
  pointer-events: auto;
}